<div class="card search">
  <h1 class="search-headline">Pets Directory</h1>
  <label class="search-label">Search pet:
    <span *ngIf="query"
      [innerHTML]="query">
    </span>
  </label>
  <input class="search-input"
    [(ngModel)]="query"
    placeholder="search for a pet...">

  <button class="btn"
    (click)="showAddPetForm();">
    + Add pet
  </button>
</div>

<ul class="petlist cf"
  *ngIf="query">
  <li class="petlist-item cf"
    (click)="showPet(item); query=''"
    *ngFor="let item of (pets | search: query)">
    <!-- *ngFor store each item of an array in a variable temporarily -->
    <pet-item class="content"
      [pet]=item>
    </pet-item>
  </li>
</ul>

<pet-add class="content"
  *ngIf="openPetForm">
</pet-add>

<pet-details class="content"
  *ngIf="currentPet"
  [pet]=currentPet>
</pet-details>
