<div class="card search">
  <h1 class="search-headline">Pets Directory</h1>
  <label class="search-label">Search pet:
    <span *ngIf="query"
      [innerHTML]="query">
    </span>
  </label>
  <input class="search-input"
    [(ngModel)]="query"
    placeholder="search for a pet...">

  <h2>Add pet</h2>
  <label class="add-label">Name:</label>
  <!-- #newPet will be a temporary variable available in the methods.
    ngModel tracks the event and also change the value of the input element -->
  <input class="search-input"
    #newPet
    [(ngModel)]="name"
    (keyup.enter)="addPet(newPet.value); newPet.value=''">
  <button class="btn"
    (click)="addPet(newPet.value); newPet.value=''">
    Add pet
  </button>
</div>

<ul class="petlist cf"
  *ngIf="query">
  <li class="petlist-item cf"
    (click)="showPet(item); query=''"
    *ngFor="let item of pets">
    <!-- *ngFor store each item of an array in a variable temporarily -->
    <pet-item class="content"
      [pet]=item>
    </pet-item>
  </li>
</ul>

<pet-details class="content"
  *ngIf="currentPet"
  [pet]=currentPet>
</pet-details>
