<div class="card search">
  <h1 class="search-headline">Pets Directory</h1>
  <label class="search-label">Search pet:
    <span *ngIf="query"
      [innerHTML]="query">
    </span>
  </label>
  <input class="search-input"
    [(ngModel)]="query"
    placeholder="search for a pet...">

  <button class="btn"
    (click)="showAddPetForm();">
    + Add pet
  </button>
</div>

<ul class="petlist cf"
  *ngIf="query">
  <li class="petlist-item cf"
    (click)="showPet(item); query=''"
    *ngFor="let item of (pets | search: query)">
    <!-- *ngFor store each item of an array in a variable temporarily -->
    <pet-item class="content"
      [pet]=item>
    </pet-item>
  </li>
</ul>

<pet-add class="content"
  *ngIf="openPetForm">
</pet-add>

<pet-details class="content"
  *ngIf="currentPet"
  [pet]=currentPet>
</pet-details>

<section class="card pet-events">
  <h2>Events</h2>
  <div class="btn-group">
    <button class="btn btn-small"
      (click)="category=undefined">
      Show All
    </button>
    <button class="btn btn-small"
      (click)="category='appointment'">
      Appointments
    </button>
    <button class="btn btn-small"
      (click)="category='grooming'">
      Grooming
    </button>
  </div>
  <article class="content"
    [ngClass]="{'event-appointment': event.category==='appointment', 'event-grooming':event.category==='grooming'}"
    *ngFor="let event of (events | categoryList: category)">
    <h3 class="event-title">{{event.title}}</h3>
    <h4 class="event-pet">For: {{event.pet}}</h4>
    <p class="event-category">Type: {{event.category}}</p>
    <p class="event-date">{{event.date | date}}</p>
  </article>
</section>
